<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WEATHER</title>
    <!-- Required Metas Tags-->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=devicewidth, initial-scale=1, shrink-to-fit=no"
    />
    <!-- stuff you need to show the page -->
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/office/16/000000/sunset--v2.png"
      type="image/x-icon"
    />
    <!-- STYLE CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        width: auto;
        height: 100%;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        /* added background color */
      }
      .container1 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        background: transparent;
      }
      
      fieldset {
        background: transparent;
        display: block;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0em;
        -webkit-padding-start: 0em;
        -webkit-padding-end: 0em;
        -webkit-padding-after: 0em;
        border: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        min-width: -webkit-min-content;
        padding: 30px;
      }
      
      .ghost-input,
      p {
        display: block;
        font-weight: 300;
        width: 100%;
        font-size: 25px;
        border: 0px;
        outline: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #4b545f;
        background: #fff;
        font-family: Open Sans, Verdana;
        padding: 10px 15px;
        margin: 30px 0px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      
      .ghost-input:focus {
        border-bottom: 1px solid #ddd;
      }
      
      .ghost-button {
        background-color: transparent;
        border: 2px solid #ddd;
        border-radius: 10px;
        padding: 10px 30px;
        width: 100%;
        min-width: 350px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      
      .ghost-button:hover {
        border: 2px solid #515151;
      }
      
      p {
        color: cornflowerblue;
      }
      
      .signature {
        font-style: italic;
        font-size: 12px;
        color: #212121;
        padding-top: 15px;
        transition: all 0.3s ease-in-out;
      
        &:hover {
          color: white;
        }
      }
      
      .navigationWrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #222;
        color: white;
        text-transform: uppercase;
        overflow: hidden;
        width: 100%;
        height: 50px;
      
        .logoWrapper {
          display: flex;
      
          .stylish {
            font-weight: bold;
          }
      
          .logo {
            padding-left: 4px;
            color: cornflowerblue;
          }
        }
      
        .navigation {
          display: flex;
          list-style: none;
      
          .listitem {
            margin-left: 20px;
            opacity: 1;
            display: inline-block;
            list-style: none;
            color: white;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      a:link {
        color: cornflowerblue; /* Default link color */
        text-decoration: none; /* Remove underline */
      }
      
      a:visited {
        color: cornflowerblue; /* Color for visited links */
      }
      
      /* styles.css */
      .profile {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px;
        text-align: center;
        background-color: #f9f9f9;
      }
      
      .profile img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      
      .profile h2 {
        margin-top: 10px;
        font-size: 1.5em;
      }
      
      .profile p {
        font-size: 1.1em;
        margin: 10px 0;
      }
      
    </style>
  </head>
  <body>

    <!-- Main Container -->
    <!-- start Navbar-->
    <nav class="navigationWrapper">
      <div class="logoWrapper">
       
        <span class="stylish">WEATHER</span>
        <a href="/Index">
        <span class="logo">Closet</span>
        </a>
        
      </div>
      <div class="navigation">
          <li class="listitem" ><a  href='/Gallery'>Gallery</a></li>
          <li class="listitem"><a   href='/About'>About</a></li>
        
      </div>
  
    </nav>
    <!-- End of Navbar -->
    <div class="container1">
      <div class="container">
        <fieldset>
          <form action="/" method="post">
            <input
              name="city"
              type="text"
              class="ghost-input"
              placeholder="Enter a City"
              required
            />
            <input type="submit" class="ghost-button" value="Get Weather" />
          </form>
          <!-- display data -->
          <%if( weather !== null){ %>
          <div class="grid">
            <p><%= place %></p>
            <p class="text-muted small"><%= timezone %></p>
          </div>
        
          <div class="card-deck">
              <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Summary</div>
                <div class="card-body text-dark">
                  <img src="<%= icon %>" alt="Weather-Icon">
                  <h5 class="card-title">Temperature</h5>
                  <p class="card-text">
                    In Degrees:
                    <%= temp %>°C/
                    <%= fahrenheit %>°F
                  </p>
                  <h5 class="card-title">Main</h5>
                  <p class="card-text">
                    <%= main %>
                  </p>
                </div>
              </div>
              <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                  <img class="logo" src="asset/profilepic/sample.png" alt="My_Logo">
              </div>
              <div class="card-deck">
                  <div class="card card-acTomorrowcent-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Description</div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">Overall Description: </h5>
                      <p class="card-text">
                        <%= description %>
                      </p>
                      <h5 class="card-title">Cloud coverage: </h5>
                      <p class="card-text">
                        <%= clouds %>%
                      </p>
                      <h5 class="card-title">Visibility: </h5>
                      <p class="card-text">
                        <%= visibility %> meters
                      </p>
                    </div>
                  </div>
                  <div class="card-deck">
                      <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Other info</div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Humidity: </h5>
                          <p class="card-text">
                            <%= humidity %> g.m-3
                          </p>
                        </div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Pressure: </h5>
                          <p class="card-text">
                            <%= pressure %> N·m−2
                          </p>
                        </div>
                      </div>
                    </div>
                    <% } %>

                    <% if(error !== null){ %>
                    <p>
                      <%= error %>
                    </p>
                    <% } %>
                   
        </fieldset>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  

  </body>
</html>
